<!DOCTYPE HTML>
<head>
     <title>TTU Stats Website "Working Title"</title>
     <!--Bootstrap-->
     <link hred = "{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel='stylesheet' type='text/css' integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
     <!-- Fontawesome -->
    <link href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel='stylesheet' type='text/css' />

    <!-- jQuery -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/jquery-ui.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="A website for checking out players stats">
    <meta name="keywords" content="">
    <meta name="author" content="Jacob Opoku">
</head>
